.Header{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100px;
}

.HeaderElement{
    padding: 10px;
    height: 45px;
    display: flex;    
}

.Button1{
    border-radius: 10px;
    width: 75px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}


.Button2{
    border-radius: 10px;
    width: 75px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}


.Button3{
    border-radius: 10px;
    width: 75px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
    background-color: skyblue;
    color: white;
    border: none;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}

.Button4{
    border-radius: 10px;
    width: 75px;
    height: 30px;
    margin: 5px;
    font-size: 10px;
    background-color: darkgray; 
    color: white;
    border: none;
    
}


.popup-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: calc(50vw - 125px);
    z-index: 1000;
    animation: fadeOut 1.5s linear forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}