.Background{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    height: 200vh;
    width: 100%;
    padding-top : 50px;
    background-color: #d3e6f6; /* Light blue background */
}

.InfoHorizontal{
    display: flex;
    justify-content: start;
    align-items: center; 
    flex-direction: column;
    margin-top : 20px;
    width: 95%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    opacity: 0;  /* Initially invisible */
    transform: translateY(30px);  /* Move down slightly */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.InfoHorizontal.visible {
    opacity: 1;  /* Fully visible */
    transform: translateY(0);  /* Back to original position */
}

.InfoTitle{
    width : 80%;
    height : 20px;
    font-size: 15px;
    color : black;
    margin-top : 20px;
    font-weight: bold; 
}

.InfoContent{
    width : 80%;
    height: 60%;
    font-size : 35px;
    font-weight: bold;
    color : #1979ff;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.InfoHorizontal2{
    display: flex;
    justify-content: start;
    align-items: center; 
    flex-direction: column;
    margin-top : 20px;
    width: 95%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    opacity: 0;  /* Initially invisible */
    transform: translateY(30px);  /* Move down slightly */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.grid{
    display : grid;
    margin : 10px;
    width: 100%;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.GridItem{
    display: flex;
    margin-left: 20px;
    justify-content: start;
    width: 100%;
    height: 100%;
    align-items: center;
}


.InfoHorizontal2.visible {
    opacity: 1;  /* Fully visible */
    transform: translateY(0);  /* Back to original position */
}


.InfoVerticalBack{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top : 20px;
    width: 95%;
    height: 210px;
}


.InfoVertical{
    display: flex;
    justify-content: start;
    align-items: center; 
    flex-direction: column;
    width: 48%;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    opacity: 0;  /* Initially invisible */
    transform: translateY(30px);  /* Move down slightly */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.InfoVertical.visible {
    opacity: 1;  /* Fully visible */
    transform: translateY(0);  /* Back to original position */
}






.progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
  }
  
  
  
  
  .progress-text {
    position: absolute;
    text-align: center;
  }
  
  .progress-text h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
  }
  
  .progress-text p {
    font-size: 12px;
    color: #888;
  }
  
  .additional-text {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
  }



  .SaveInfoBtn{
    position: fixed;
    bottom : 30px;
    left : calc(50% - 70px);
    width : 140px;
    height : 40px;
    border-radius: 10px;
    background-color: #4a90e2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;
    z-index: 1000;
  }