.List{
    height: 270px;
    background-color: rgba(239, 240, 237, 0.872);
    border-radius: 10px;
    width: 160px;
}


.silgeum{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 280px;
}

.list3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 190px;
 }


.list4{

    height: 345px;  
}

.list41{

    height: 315px;  
}



.title{
   margin: 10px;
}


.smallTitle{
    font-size: 10px;
}


.styledDateInput {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    width: 110px; /* 원하는 크기로 설정 */
    background-color: #f9f9f9;
    transition: border-color 0.2s ease-in-out;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.styledDateInput:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.smallTime{
    margin-right: 10px;
}

.yangsang{

    position: absolute;
    left: 6px;
}

.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.element2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}


.elementBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.elementBtn2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.elementBtn3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.elementCapture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.capture{

    border-radius: 15px;
    background-color: black;
    border: none;
    color: white;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}

.inputY{
    border: none;
}

.inputY2{
    width: 50px;
}

.inputY3{
    width : 95%;
}

.inputText{
    width: 95%;
}

.Sec0{
    position: absolute;
    top: 15px;
    left: calc(50vw - 173px);
}

.Sec1{
    position: absolute;
    top: 15px;
    left: calc(50vw - 1px);
}

.Sec2{
    position: absolute;
    top: 340px;
    left: calc(50vw - 173px);
}

.Sec3{
    position: absolute;
    top: 340px;
    left: calc(50vw - 1px);
}

.Secu01{
    position: absolute;
    top : 370px;
    left : calc(50vw - 173px);
}

.Secu02{
    position: absolute;
    top : 305px;
    left : calc(50vw - 173px);
}

.Secu03{
    position: absolute;
    top : 215px;
    left : calc(50vw - 173px);
}

.Secu04{
    position: absolute;
    top : 350px;
    left : calc(50vw - 173px);
}


.Secu12{
    position: absolute;
    top : 305px;
    left : calc(50vw - 1px);
}

.Secu11{
    position: absolute;
    top : 360px;
    left : calc(50vw - 1px);
}

.Secu13{
    position: absolute;
    top : 205px;
    left : calc(50vw - 1px);
}

.Secu14{
    position: absolute;
    top : 340px;
    left : calc(50vw - 1px);
}

.Circle{
    background-color: rgb(68,180,224);
    border-radius: 100%;
    width: 33px;
    height :33px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}

.Clicked{
    background-color: rgb(25,25,187);
}

.yesButton{
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 3px;
    width: 35px;
    height : 20px;
    font-size: 7px;
    box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -webkit-box-shadow: 0px 3px 4px -3px rgba(112,112,112,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgbaa(112,112,112,0.75);
}

.ClickedYes{
    background-color: rgb(25,25,187);
    color: white;
}

.SaveInfoBtn{
    position: absolute;
    bottom : 30px;
    left : calc(50vw - 80px);
    width : 140px;
    height : 40px;
    border-radius: 10px;
    background-color: rgb(25,25,187);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;

}