.List{
    height: 270px;
    background-color: rgba(239, 240, 237, 0.872);
    border-radius: 10px;
    width: 160px;
}


.silgeum{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 270px;
}

.list4{

    height: 310px;  
}

.title{
   margin: 10px;
}


.smallTitle{
    font-size: 10px;
}

.smallTime{
    margin-right: 20px;
}

.yangsang{

    position: absolute;
    left: 6px;
}

.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}


.elementBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.elementCapture{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.capture{

    border-radius: 15px;
    background-color: black;
    border: none;
    color: white;
}

.inputY{
    border: none;
}

.inputY2{
    width: 50px;
}



.Sec0{
    position: absolute;
    top: 15px;
    left: calc(50vw - 173px);
}

.Sec1{
    position: absolute;
    top: 15px;
    left: calc(50vw - 1px);
}

.Sec2{
    position: absolute;
    top: 340px;
    left: calc(50vw - 173px);
}

.Sec3{
    position: absolute;
    top: 340px;
    left: calc(50vw - 1px);
}