/* Overlay background */
.popup-overlay {
    position: fixed;
    width: 50%;
    height: 20%;
    top: 200px;
    left: calc(25vw);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }





  .popup-overlay2 {
    position: fixed;
    width: 65%;
    height: 23%;
    top: 200px;
    left: calc(50vw-130px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-overlay3 {
    position: fixed;
    width: 55%;
    height: 19%;
    top: 200px;
    left: calc(50vw-130px);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }


  .popup-overlay-Picture {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 200px;
    left: calc(50vw - 150px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Popup content */
  .popup-content {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.3s;
  }

  .popup-overlay-Picture2 {
    position: fixed;
    width: 430px;
    height: 300px;
    top: 200px;
    left: calc(50vw - 150px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Popup content */
  .popup-content2 {
    width: 430px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: fadeIn 0.3s;
  }

  .popup-content h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .popup-content p {
    color: #555;
    margin: 10px 0 20px;
  }
  
  /* Button styles */
  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }

  .popup-buttons2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .popup-button.confirm {
    background-color: #4a90e2;
    color: white;
  }
  
  .popup-button.cancel {
    
    background-color: #e0e0e0;
    color: #333;
  }

  .popup-button.confirm2 {
    margin-bottom: 5px;
    width : 70%;
    background-color: #4a90e2;
    color: white;
  }

  .popup-button.cancel2 {
    margin-bottom: 5px;
    width : 70%;
    background-color: #e0e0e0;
    color: #333;
  }
  
  .popup-button:hover {
    opacity: 0.9;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }
  