:root {
    --vh: 100%;
    height: calc(var(--vh, 1vh) * 100);
}



html,body{
    height: 100vh;
    background-color: gray;
    display: flex; 
    flex-direction: column;
    justify-content: start;
}
